<h1>Employee Detail</h1>
<table class="table table-bordered">
  <tbody>
    <tr>
      <td>Id</td>
      <td>{{emp.Id}}</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{emp.Name}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{emp.Email}}</td>
    </tr>
    <tr>
      <td>Depatment</td>
      <td [ngSwitch]="emp.Department">
        <div *ngSwitchCase="1">HR</div>
        <div *ngSwitchCase="2">IT</div>
        <div *ngSwitchCase="3">Payroll</div>
        <div *ngSwitchDefault>None</div>
      </td>
      
    </tr>
    <tr>
      <td>Photo</td>
      <td><img src="/images/{{emp.PhotoPath ? emp.PhotoPath :'noimage.png'}}" style="height:120px;" /></td>
    </tr>

  </tbody>
</table>

<a routerLink="/list" class="btn btn-primary">Back To List</a>
